*
{
    margin: 0;
    padding: 0;
}

#gui_container{
    position: fixed;
    bottom: 0;
    right: 0;
    border: 20px solid black;
}

html,
body
{
    overflow: hidden;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}
